# Dependencies
node_modules/

# Environment
.env

# IDE
.vscode/

# Logs
npm-debug.log*

# Postman
.postman/
postman/

# Scripts
seed_admin.js
API_DOCUMENTATION.md
# Build folders
dist/
build/
uploads/